<!-- First Element I'm scrapping Data From -->
ata-reactid="14">Bmw 420d m performance</p>
<ul class="card__adinfo card__adinfo--is-grid-only" data-reactid="15">
   <li data-reactid="16">Donegal</li>
   <li data-reactid="17">1 day</li>
</ul>
<ul class="card__body-keyinfo" data-reactid="18">
   <li data-reactid="19">2016</li>
   <li data-reactid="20">2.0 Diesel</li>
   <li data-reactid="21">115,000 mi</li>
   <li data-reactid="22">1 day</li>
   <li data-reactid="23">Donegal</li>
</ul>
<p class="card__body-section ng-cloak" data-ng-click="search.searchBySection('cars', $event);" data-ng-if="currentSection.containsSubsections" data-reactid="24">
   <!-- react-text: 25 -->in <!-- /react-text --><!-- react-text: 26 -->Cars<!-- /react-text -->
</p>
</div>
<div class="card__body-2-of-2" data-reactid="27">
   <div class="card__price--info" data-reactid="28">
      <div class="card__price--left-options" data-reactid="29">
         <div class="card__price-header" data-reactid="30">
            <div class="card__price-title" data-reactid="31">Price</div>
         </div>
         <p class="card__price" data-reactid="32">
            <span data-reactid="33">
               <span data-reactid="34">€</span><!-- react-text: 35 -->17,950<!-- /react-text -->
            </span>
         </p>
      </div>
   </div>
   <div class="card__actions" data-reactid="36"><i class="manual-false-page card-actions__save icon icon-save-heart" data-ng-click="userSaveAd($event,0)" data-reactid="37" data-tealium='{"chap2":"Save_ad"}'></i></div>
</div>
</div>